**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/
**/
**/Icon
**/
**/
**/
**/._*
**/
**/
**/.DocumentRevisions-V100
**/.fseventsd
**/.Spotlight-V100
**/.TemporaryItems
**/.Trashes
**/.VolumeIcon.icns
**/.com.apple.timemachine.donotpresent
**/
**/
**/.AppleDB
**/.AppleDesktop
**/Network Trash Folder
**/Temporary Items
**/.apdisk
**/
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
**/!.vscode/*.code-snippets
**/
**/
**/.history/
**/
**/
**/*.vsix
**/
**/
**/Thumbs.db
**/Thumbs.db:encryptable
**/ehthumbs.db
**/ehthumbs_vista.db
**/
**/
**/*.stackdump
**/
**/
**/[Dd]esktop.ini
**/
**/
**/$RECYCLE.BIN/
**/
**/
**/*.cab
**/*.msi
**/*.msix
**/*.msm
**/*.msp
**/
**/
**/*.lnk
**/
**/
**/
**/
**/
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
**/
**/
**/.idea/**/aws.xml
**/
**/
**/.idea/**/contentModel.xml
**/
**/
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/dbnavigator.xml
**/
**/
**/.idea/**/gradle.xml
**/.idea/**/libraries
**/
**/
**/
**/
**/
**/
**/
**/
**/
**/
**/
**/
**/
**/
**/
**/cmake-build-*/
**/
**/
**/.idea/**/mongoSettings.xml
**/
**/
**/*.iws
**/
**/
**/out/
**/
**/
**/.idea_modules/
**/
**/
**/atlassian-ide-plugin.xml
**/
**/
**/.idea/replstate.xml
**/
**/
**/.idea/sonarlint/
**/
**/
**/com_crashlytics_export_strings.xml
**/crashlytics.properties
**/crashlytics-build.properties
**/fabric.properties
**/
**/
**/.idea/httpRequests
**/
**/
**/.idea/caches/build_file_checksums.ser
