input[type='text'],
input[type='url'] {
	font-size: inherit;
	display: block;
	width: 100%;
}

input[type='submit'] {
	font-size: 1.4rem;
	background-color: rgb(239, 170, 181);
	align-self: flex-end;
	margin-top: 1.3em;
	color: black;
	border: solid 1.5px black;
	cursor: pointer;
	transition: background-color 0.3s linear;
	border-radius: var(--main-border-radius);
}
input[type='submit']:hover {
	background-color: rgb(247, 124, 124);
}
input:focus {
	outline: none;
}

fieldset {
	display: flex;
	flex-direction: column;
	padding: 1em;
	row-gap: 0.3em;
	width: 16%;
	border: 3px solid black;
	border-radius: var(--main-border-radius);
}
