input {
	display: block;
	font-size: 1rem;
	width: 100%;
}

input[type='submit'] {
	background-color: rgb(85, 85, 85);
	color: white;
	border: outset;
	cursor: pointer;
	width: 30%;
	transition: background-color 0.3s linear;
}
input[type='submit']:hover {
	background-color: rgb(123, 122, 122);
}
input:focus {
	outline: none;
}
fieldset {
	width: 30%;
	text-align: justify;
	box-shadow: 2px 2px 5px 1px hsl(0, 0%, 30%);
}
